@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1a0dab;
  --secondary-color: #4285f4;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", arial, sans-serif;
}

header {
  background-color: #fff;
  display: grid;
  grid-template-columns: 18rem 1fr 50% 1fr;
  grid-template-rows: repeat(2, min-content);
  font-size: 1.4rem;
  padding: 3rem 0 1rem;
}

header .google-logo-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .google-logo {
  width: auto;
  max-height: 3rem;
}

header .form {
  grid-column: 2 / 4;
  grid-row: 1 /2;
  height: 5rem;
  display: flex;
  align-items: center;
}

header .close {
  margin-left: -13.5rem;
  font-size: 2.5rem;
  color: #70757a;
  padding-right: 20px;
  border-right: 1px solid #dadce0;
  cursor: pointer;
}

header .microphone {
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

header .search {
  margin-left: 2rem;
  font-size: 1.8rem;
  color: var(--secondary-color);
  cursor: pointer;
}

header .form input {
  max-width: 67rem;
  width: 100%;
  border-radius: 2rem;
  border: transparent;
  height: 100%;
  outline: none;
  font-size: 1.4rem;
  text-indent: 3rem;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}

header .nav {
  grid-column: 2 / 4;
  grid-row: 2/ 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  list-style: none;
}

header .nav li {
  padding: 0 1rem;
}

.hr {
  background-color: #dadce0;
  border: 0;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

main {
  background-color: white;
  font-size: 1.4rem;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 18rem;
}

.total {
  color: grey;
  padding: 1.2rem 0 2rem 0;
}

.result .link {
  padding-bottom: 1rem;
}

.result h2 {
  color: var(--primary-color);
  line-height: 2.6rem;
  font-size: 2rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.result h2:hover {
  text-decoration: underline;
}

.result .description {
  margin-bottom: 4rem;
}

footer {
  background-color: #fff;
  margin: 4rem 40rem;
  width: 500px;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  color: var(--secondary-color);
}

footer .google-img {
  width: 100%;
}

footer .right-arrow {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

footer .pagination {
  grid-row: 2/ 3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

footer li {
  padding-left: 1rem;
}

footer .next-text {
  grid-row: 2/ 3;
  grid-column: 2/3;
}

.arrow {
  border: solid var(--secondary-color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
